ul{
  list-style-type: none;
  overflow:hidden;
}

li{
  float:right;
}

li a{
  display:inline-block;
  color:black;
  text-align:center;
  text-decoration:none;
  margin:3rem;
  font-family: "Optima", sans-serif;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #EEE;
}

.dropdown {
  display: inline-block;
}

.drop_content {
  display: none;
  position: absolute;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drop_content a {
  color: black;
  padding-left: 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown:hover .drop_content {
  display: block;
}

@media screen and(max-width: 400px){
  .dropdown a, .drop_content a{
    background-color:orange;
  }
}
