
/* Navigation Bar Design*/
.navigation {
  height: 70px;
}

.brand {
  font-family: "DINPro",sans-serif;
  font-weight: lighter;
  letter-spacing: 5px;
  position: absolute;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.2em;
}

.brand a,
.brand a:visited {
  color: black;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  font-family: "optima",sans-serif;
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  color: #848484;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  color: #D8D8D8;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  /*box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);*/
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
}

@media screen and (max-width:950px){
  .brand{
    font-size:1em;
    margin-top:-15px;
  }
}

@media only screen and (max-width: 798px) {

  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {

  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 30px 16px 10px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height:5px;
  width:35px;
  background: #6E6E6E;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/*
article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}
/*finish Navigation Bar*/

/*footer*/
.footer-distributed{
	background-color: #D8D8D8;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding-top: 50px;
	margin-top: 80px;
}

.footer-distributed p a:hover,
.footer-center div p a:hover,
.footer-center div p:hover,
.footer-center p span:hover{
  cursor: pointer;
  color:#F2F2F2;
}


.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
  display: inline-block;
	color:#2E2E2E;
	font: 400 30px 'DINPro', sans-serif;
  letter-spacing: 2px;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #848484;
	margin: 20px 0 12px;
  font: lighter 15px 'optima', sans-serif;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #848484;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #848484;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
  font-family: "DINPro",sans-serif;
	font-size: 13px;
	font-weight: lighter;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #848484;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* footer responsive */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: -10px;
	}

}
/* finish footer part*/

/*body*/
/*
.body_part{
  padding:0;
  margin:0;
  min-width: 980px;
}
*/
p{
  font-family: "optima",sans-serif;
  color: #8c9398;
  word-spacing: 1px;
  line-height: 25px;
  font-size: 14px;
}

.float-left h2{
  font-family: "DINPro",sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
}
.button-nav {
    font-family: "DINPro",sans-serif;
    font-weight: 200;
    font-size: 12px;
    display: inline-block;
    padding: 0.7rem 1.3rem;
    margin-bottom: 1rem;
    color:#FFFFFF;
    background-color: #585858;
    transition-property:all;
    transition-duration: 0.2s;
    border-radius: 8px;
    opacity: 1;
    width: 30%;
}

a {
    text-decoration: none;
    letter-spacing: 0.15rem;
}

.button-nav:hover, .button-nav:focus {
  color: #848484;
  background-color: #E6E6E6;
}


#intro{
  background:url(img/pico.jpg) 50% 0 no-repeat fixed;
  color:#6E6E6E;
  height:800px;
  margin:0 auto;
  padding:0;
}

#second{
  background:url(img/rollingwork.jpg) 50% 0 no-repeat fixed;
  color:#6E6E6E;
  height:1300px;
  margin:0 auto;
  overflow:hidden;
  padding:0;
}

#third{
  background:url(img/third.jpg) 50% 0 no-repeat fixed;
  color:#6E6E6E;
  height:650px;
  padding:100px 0 0 0;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
}

.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}

.story{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}

.story .float-left, .story .float-right{
	padding: 100px 0 0 0;
	position: relative;
	width: 350px;
}

@media (max-width: 880px) {
  #intro{
   background:url(img/pico.jpg) 30% 0 no-repeat fixed;
  }

  .float-right{
  	float: left;
    margin:0;
  }

  #second{
   background:url(img/rollingwork.jpg) 20% 0 no-repeat fixed;
  }

  #third{
   background:url(img/third.jpg) 20% 0 no-repeat fixed;
  }
}
